.u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 2833px;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    font-weight: 700;
    margin: 55px auto 0;
  }
  
  .u-section-1 .u-form-1 {
    height: 2841px;
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    --thumb-color: #478ac9;
    --thumb-hover-color: #77aad9;
    --track-color: #c0c0c0;
    --track-active-color: #478ac9;
    width: 1022px;
    margin: 52px auto 60px;
  }
  
  .u-section-1 .u-text-2 {
    margin-left: 0;
    font-weight: 700;
  }
  
  .u-section-1 .u-line-1 {
    height: 0;
    border-style: solid;
  }
  
  .u-section-1 .u-form-group-3 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-1 {
    width: 403px;
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-form-group-4 {
    margin-bottom: auto !important;
  }
  
  .u-section-1 .u-label-2 {
    width: 403px;
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-form-group-5 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-3 {
    width: 403px;
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-label-4 {
    width: 403px;
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-form-group-7 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-5 {
    width: 403px;
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-form-group-8 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-6 {
    width: 403px;
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-form-group-9 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-7 {
    width: 403px;
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-form-group-10 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-8 {
    width: 403px;
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-form-group-11 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-9 {
    width: 403px;
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-form-group-12 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-10 {
    width: 403px;
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-label-11 {
    width: 403px;
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-form-group-14 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-12 {
    width: 403px;
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-form-group-15 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-13 {
    width: 403px;
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-form-group-16 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-14 {
    width: 403px;
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-form-group-17 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-15 {
    width: 403px;
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-line-2 {
    height: 0;
    border-style: solid;
  }
  
  .u-section-1 .u-form-group-19 {
    margin-left: 0;
    margin-bottom: 20px !important;
  }
  
  .u-section-1 .u-label-16 {
    width: 403px;
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-text-3 {
    margin-left: 0;
    font-weight: 700;
  }
  
  .u-section-1 .u-line-3 {
    height: 0;
    border-style: solid;
  }
  
  .u-section-1 .u-form-group-22 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-17 {
    width: 403px;
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-bottom: 20px !important;
    margin-top: auto !important;
    font-size: 0.75rem;
    background-image: none;
  }
  
  .u-section-1 .u-btn-1 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-1 .u-text-5 {
    margin-left: 0;
    font-weight: 700;
  }
  
  .u-section-1 .u-line-4 {
    height: 0;
    border-style: solid;
  }
  
  .u-section-1 .u-form-group-26 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-18 {
    width: 403px;
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-form-group-27 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-19 {
    width: 403px;
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-form-group-28 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-20 {
    width: 403px;
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-form-group-29 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-21 {
    width: 403px;
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-form-group-30 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-22 {
    width: 403px;
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-text-6 {
    margin-left: 0;
    font-weight: 700;
    margin-bottom: 5px !important;
    margin-top: 20px !important;
  }
  
  .u-section-1 .u-form-group-32 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-23 {
    width: 403px;
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-form-group-33 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-24 {
    width: 403px;
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-form-group-34 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-25 {
    width: 403px;
    font-size: 0.875rem;
  }
  
  .custom-class {
    font-family: Arial, sans-serif;
    background-image:url("../images/backimage2.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;

  }
  
  .container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
}

.card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    margin-right: 10px;
}

h2 {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #acb802;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #acb802;
}

p {
    margin-top: 10px;
    font-size: 14px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
  .u-section-1 .u-line-5 {
    height: 0;
    border-style: solid;
  }
  
  .u-section-1 .u-text-7 {
    margin-left: 0;
    font-size: 0.875rem;
    font-weight: normal;
  }
  
  .u-section-1 .u-form-group-37 {
    margin-left: 0;
  }
  
  .u-section-1 .u-btn-2 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-1 .u-btn-3 {
    letter-spacing: 0px;
    background-image: none;
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: none;
    padding: 10px 75px 10px 73px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 3290px;
    }
  
    .u-section-1 .u-form-1 {
      width: 940px;
    }
  
    .u-section-1 .u-btn-3 {
      border-style: solid;
      width: 46%;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-form-1 {
      width: 720px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-form-1 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-text-1 {
      font-size: 2.125rem;
    }
  
    .u-section-1 .u-form-1 {
      width: 340px;
    }
  }